body {
  margin: 20px auto;
  font-family: 'Lato';
  font-weight: 300;
  width: 400px;
  text-align: center;
  background-image: url(lebaranback.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

button {
  background: rgb(149, 159, 179);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Lato';
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: rgb(197, 141, 36);
}